<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7F628BF1E2A157B00CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F628D31E2A157B00CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F628DE1E2A157B00CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
